@model AppraisalManagentSystem.Models.Competencies

@{
    ViewData["Title"] = "AddCompetencies";
}

<h1>AddCompetencies</h1>

<h4>Competencies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveCompetencies" asp-controller="HR" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <lable>TypeC</lable>
            <select class="form-select" aria-label="Disabled select example" asp-for="TypeC">
               
                <option value="1" asp-for="TypeC">Tech</option>
                <option value="2" asp-for="TypeC">Behavior</option>
            </select>
            <div class="form-group">
                <label asp-for="CompetencyName" class="control-label"></label>
                <input asp-for="CompetencyName" class="form-control" />
                <span asp-validation-for="CompetencyName" class="text-danger"></span>
            </div>@* 
            <div class="form-group">
                <label asp-for="TypeC" class="control-label"></label>
                <input asp-for="TypeC" class="form-control" />
                <span asp-validation-for="TypeC" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn" style="background-color:#4C68B1;color:white;" />
            </div> 
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

